.banner {
  padding: 5px;
  background: $main-color; 
  text-align: center;
  color: #fff; 

  h1 {
    font-size: 3rem; 
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5rem; 
    margin-top: 10px;
  }

}